.root {
    -fx-background-color: #f4f4f4;
}

.text {
    -fx-fill: #2a2a2a;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

#textOfUserName {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #3a3a3a;
}

.button {
    -fx-background-color: #3090C7;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-color: #1c6b9e;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #1c6b9e;
    -fx-text-fill: #eef;
}
