.root {
    -fx-background-color: #eaeaea;
}

.text {
    -fx-fill: #2f4f4f;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.button {
    -fx-background-color: #8fbc8f;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-color: #698b69;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: #698b69;
    -fx-text-fill: #f0f0f0;
}

